<span style='color: #000'>241 frames</span>	<span style='color: #900'>20,224 KB</span>	<span style='color: #090'>6,288.46 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />